* {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    /* align-items: center; */
}

a{
    text-decoration: none;
}

/*헤더 영역*/

header {
    width: 100%;
    height: 100px;
    background-color: #6489ff;
    text-align: center;
}

.container {
    width: 1200px;
    height: 100px;
    
}

.logo {
    width: 200px;
    height: 100px;
    float: left;
}

.headerlogo {
    width: 200px;
    height: 100px;
}

.menu {
    width: 800px;
    height: 100px;
    float: right;
    text-align: right;
    position: relative;
    /* top: 40px;
    right: 50px; */
    color: #000000;
}

.submenu {
    width : 800px;
    height: 100px;
    align-content: center;
    margin: 0px;
}


.submenu a {
    width: 180px;
    height: 30px;
    float: left;
    text-align: center;
    padding: 0px 10px;
    color: white;
}

.submenu a:hover {
    background-color: aliceblue;
    color: black;
}

.submenuslide {
    width: 800px;
    height: 120px;
    display: flex;
    position: absolute;
    background-color: #4294ff;
    color: aliceblue;
    top: 100px;
    /* left: 15px; */
    /* padding-right: 10px; */
    z-index: 10;
    text-align: center;
}

.submenuslide:hover {
    width: 760px;
    height: 120px;
    background-color: #4294ff;
    color: aliceblue;
    z-index: 9;
    top: 50px;
}

.submenuslide ul li {
    width: 170px;
    height: 30px;
    padding: 0px 10px;
}

/*이미지 슬라이드 영역*/
.image {
    width: 1200px;
    height: 300px;
}

.imageslide {
    width: 1200px;
    height: 300px;
}

.img_ul {
    width: 1200px;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.img_ul>li {
    float: left;
    width: 1200px;
    height: 300px;;
}

.slide_img {
    width: 1200px;
    height: 300px;
}


/*content 영역*/
.content {
    width: 1200px;
    height: 200px;
}

.notice{
    width: 400px;
    height: 200px;
    float: left;
 }

.banner{
    width: 400px;
    height: 200px;
    float: left;
 }

 .banner_img {
    width: 400px;
    height: 200px;
 }

 .banner_text {
    width: 40px;
    height: 25px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: #000000;
    text-align: center;
    position: relative;
    bottom: 120px;
 }

.shortcut{
    width: 400px;
    height: 200px;
    float: right;
 }

 .shortcut_img {
    width: 400px;
    height : 200px
 }

 .shortcut_text {
    width: 70px;
    height: 25px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: #000000;
    text-align: center;
    position: relative;
    bottom: 120px;
 }

 /*footer영역*/

 footer {
    width: 1200px;
    height: 100px;
 }

 .footerlogo {
    width: 200px;
    height: 100px;
    float: left;
 }

 .menubar {
    width: 1000px;
    height: 50px;
    float: right;
 }

 .copyright {
    width: 1000px;
    height: 50px;
 }

