@charset "utf-8";

* {
    width: 100%;
    color: #333333;
    list-style: none;
}

html, body {
    max-width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
}

a {
    display: block;
    text-decoration: none;
}

/*header*/

header {
    width: 200px;
    float: left;
}

.wrap {
    width: 200px;
    height: 650px;
    background-color: #8d8d8d;
}

.logo {
    width: 180px;
    height: 50px;
}

.logo img {
    width: 180px;
    padding: 30px 10px;
}

.menu {
    margin-top: 30px;
}

.submenu{
    width: 200px;
    padding: 0px;
    position: absolute;
}

.submenu li a {
    width: 180px;
    height: 40px;
    margin: 0px 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

/* .submenu li {
    width: 180px;
    height: 30px;
    text-align: center;
    align-content: center;
    
} */

.submenulist {
    width: 180px;
    height: 200px;
    padding: 0px;
    position: absolute;
    left: 190px;
    top: -20px;
    background-color: rgb(221, 221, 221);
    display: none;
    z-index: 1;
}

.submenulist li {
    width: 180px;
    height: 40px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    align-content: center;
    text-align: center;
}

.submenulist li:hover {
    background-color: #919191;
    color: rgb(255, 192, 114);
}

/*imgslide*/

.imgslide {
    float: right;
    width: 800px;
    height: 350px;
}

.imgslide > img {
    width: 800px;
    height: 350px;
}

.imgslide div {
    width: 2400px;
    height: 350px;
}

.imgslide ul {
    width: 800px;
    height: 350px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.imgslide li {
    width: 800px;
    height: 350px;
    
    float: left;
    
}

.imgtext {
    width: 300px;
    height: 40px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 155px;
    left: 800px;
    background-color: #333333;
    color: white;
    
}

/*content*/

.content {
    float: right;
    width: 800px;
    height: 200px;
}

.notice {
    float: left;
    width: 250px;
    height: 200px;
}

.notice_title {
    width: 210px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid orange;
}

.notice_content ul {
    padding: 0px;
    width: 250px;
    height: 138px;
}

.notice_content ul li {
    width: 210px;
    height: 20px;
    padding: 5px;
    margin: 5px;
}

.notice_content ul li:nth-child(2n-1) {
    background-color: antiquewhite;
}

.notice_content ul li a {
    float: left;
    width: 110px;
    text-align: left;
    font-weight: bold;
}

.notice_content ul li span {
    width: 100px;
    float: right;
    text-align: right;
}

.gallery {
    float: left;
    width: 250px;
    height: 200px;
}

.gallery_title{
    width: 210px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid orange;
}

.gallery_container {
    width: 210px;
    height: 128px;
    padding: 5px;
    margin: 5px;
    padding: 0px;
    align-content: center;
}

.gallery a {
    width: 60px;
    height: 50px;
    padding: 2px;
    margin: 2px;
    float: left;
}

.shortcut {
    float: right;
    width: 250px;
    height: 200px;
}

/*modal*/

.modal {
    position: absolute;
    width: 1200px;
    height: 650px;
    background-color: #8d8d8d73;
    z-index: 10;
    display: none;
}

.modal.active {
    display: block;
}

/* .madal_background {
    position: absolute;
    width: 100%;
    height: 100%;
} */

.modal_background {
    position: absolute;
    top: 250px;
    left: 450px;
    width: 300px;
    height: 200px;
    background-color: white;
}

.modal_title {
    width: 300px;
    height: 30px;
}

/*footer*/

footer {
    float: right;
    width: 800px;
    height: 100px;
}

.footerlogo {
    float: left;
    width: 150px;
    height: 100px;
}

.footermenu {
    float: right;
    width: 650px;
    height: 50px;
}

.copy {
    float: right;
    width:650px;
    height: 50px;
}
